<footer>
    <div class="f-info">
        <div class="f-info-social">
            <a href="https://www.facebook.com/manoj.singhkuntiya"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/manoj._684?igsh=dGh4NTU2emQ2a3Yz"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/manoj-singh-kuntiya-899155273"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div>&copy;wanderlust pvt limited</div>
        <div class="f-info-link">
            <a href="/privecy">privecy</a>
            <a href="/terms">terms</a>
        </div>
    </div>
</footer>